<!DOCTYPE html>
<html lang="en">
    <head>    
        <title>Dashboard</title>
        <meta charset="UTF-8">
        <link rel='stylesheet' href='/stylesheets/dashboard.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    </head>
    
    <body>
        
<!--
        <div class="slideshow-container">

            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="/images/Capture3.PNG" style="width:100%">
              <div class="text">Caption Text</div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">2 / 3</div>
              <img src="/images/Capture4.PNG" style="width:100%">
              <div class="text">Caption Two</div>
            </div>
            
            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="/images/Capture5.PNG" style="width:100%">
              <div class="text">Caption Three</div>
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            -->
            <!--<h1 id="heading">Dashboard</h1>-->
        <% include partials/authNav.ejs %>
        
        
        <div id="body">
            <ul id="blogs" style="list-style-type:decimal;">
            <% files.forEach(function(file){%>
                <div id="blog">
                <li>
                <span id="title"><%=file.title%></span>
                <span id="author">Author <a href="/profile"><%=file.author%></a></span>
                <% var noOfLikes=0;file.likes.forEach(function(like){
                  noOfLikes+=1;
                })%>
                <br>
                <br>
                <span id="likes">Likes <%=noOfLikes%></span>
                <br>
                <form method="POST" action="/blog/blog/<%= file._id%>/like">
                  <button type="submit" class="button" id="like"><img src="/images/like.png" style="width: 30px;"></button>
                </form>
                
                <br>
                <%= file.image %>
                <br>
                <img src="/images/Capture1.PNG" style="width: 40%;height: 10%;">
                <br>
                <span id="header"><%=file.header%></span>
                
                <span id="body"><%=file.body%></span>
                <br>
                
                </li>
                </div>
            <%})%>
        </ul>
        </div>
     
    </body>
    <script src="/javascripts/dashboard.js">
        
        </script>
</html>