<!DOCTYPE html>
<html>
    <head>
        <title>
            Blogate
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/blog.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <% include partials/publicNav.ejs %>
    <body>
        <header></header>
        <div class="top-wrapper" class="top-wrapper">
            <h1>READ THE WORLD<span>.</span></h1>
            <h1>WORLD ON THE STREET</h1>
            <p><span>Blogate</span> is a website that offers blog content.</p>
            <div class="bottom-wrapper">
                <a href="/signup" class="btn email">Sign up with Email</a>
            </div>
        </div>
        <div class="blog-wrapper">
            <h2>BLOGS</h2>
            <div class="blogs">
                <% files.forEach(function(file){%>
                    <% var noOfLikes=0;file.likes.forEach(function(like){
                        noOfLikes+=1;
                      })%>
                <div class="blog">    
                
                    <div class="blog-title">
                        <a onclick="myFunction('<%=file.title%>')"><%=file.title%></a>
                    </div>
                    <div class="blog-header">
                        <a  onclick="myFunction('<%=file.title%>')"><%=file.header%></a>
                    </div>
                    <div id="<%= file.title%>" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close" onclick="myFunction2()">&times;</span>
                          <div class="modal-logo">
                              
                          </div>
                          <div class="modal-blog-title">
                            <%=file.title%>
                        </div>
                        <div class="modal-blog-footer blog-footer">
                            <div class="modal-likes likes">
                                <img src="/images/like.png">
                                <div class="modal-likesCount likesCount">
                                    <%=noOfLikes%>
                                </div>
                            </div>
                            <div class="modal-blog-author blog-author">
                                Author: 
                                <span>
                                <%=file.author%>
                            </span>
                            </div>
                        </div>
                        <div class="modal-blog-header">
                            <%=file.header%>
                        </div>
                        <div class="modal-blog-body">
                            <%=file.body%>
                        </div>
                        
                        </div>
                      
                      </div>
                    <div class="blog-footer">
                        <div class="likes">
                            <img src="/images/like.png">
                            <div class="likesCount">
                                <%=noOfLikes%>
                            </div>
                        </div>
                        <div class="blog-author">
                            Author:
                            <span>
                                <%=file.author%>
                            </span>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
            
        </div>

        <div>
            <% include partials/goToTop.ejs %>
        </div>
        <footer>
            <% include partials/footer.ejs %>
        </footer>

    </body>
    <script src="/javascripts/blog.js"></script>
</html>